/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app
/bootstrap
/config
/database
/public
/resources
/routes
.env
.styleci.yml
artisan
server.php
webpack.mix.js
yarn.lock
